config BOARD_NORDICFLOW
	select SOC_NRF54L15_CPUAPP if BOARD_NORDICFLOW_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_NORDICFLOW_NRF54L15_CPUFLPR || \
		BOARD_NORDICFLOW_NRF54L15_CPUFLPR_XIP